## Task 1: (Connect to the supplied petsDB, and (OPTIONAL) write a function to check if the connection is done)

In [91]:
### Write your code below this comment
import sqlite3
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    print(cursor.fetchall())

[('persons',), ('pets',)]

### With the table names being returned, this shows that the connection was made to the database.
## Task 2:  (What are the different age groups in the persons database)

In [93]:
### Write your code below this comment
rows = cursor.execute("SELECT COUNT(*), age FROM persons GROUP BY age")
for row in rows:
    print(row)

(2, 5)
(1, 6)
(1, 7)
(3, 8)
(1, 9)
(2, 11)
(3, 12)
(1, 13)
(4, 14)
(2, 16)
(2, 17)
(3, 18)
(1, 19)
(3, 22)
(2, 23)
(3, 24)
(2, 25)
(1, 27)
(1, 30)
(3, 31)
(1, 32)
(1, 33)
(2, 34)
(3, 35)
(3, 36)
(1, 37)
(2, 39)
(1, 40)
(1, 42)
(2, 44)
(2, 48)
(1, 49)
(1, 50)
(2, 51)
(2, 52)
(2, 53)
(2, 54)
(1, 58)
(1, 59)
(1, 60)
(1, 61)
(2, 62)
(1, 63)
(2, 65)
(2, 66)
(1, 67)
(3, 68)
(1, 69)
(1, 70)
(4, 71)
(1, 72)
(5, 73)
(3, 74)

## Task 3: Which age group has maximum number of people?

In [89]:
### Write your code below this comment
cursor.execute("SELECT COUNT(*), age FROM persons GROUP BY age ORDER BY COUNT(*) desc")

rows = cursor.fetchall()
i = [row for row in rows]
print(i[0])

(5, 73)

### First row will contain the max value (5 entries of age 73).

## Task 4: How many people do not have a full name (Last name is blank/null)

In [34]:
### Write your code below this comment
### column names: 'id', 'first_name', 'last_name', 'age', 'city', 'zip_code'

null_values = cursor.execute("SELECT COUNT(*), last_name FROM persons WHERE last_name IS NULL")

for vals in null_values:
    print(vals)

(60, None)

## Task 5: How many people has more than one pet? (Count of owner_id > 1)

In [81]:
### Write your code below this comment
### column names: 'owner_id', 'pet_name', 'pet_type', 'treatment_done'

# rows = cursor.execute("SELECT COUNT(*), owner_id FROM pets GROUP BY owner_id HAVING COUNT(owner_id) > 1")
rows = cursor.execute("SELECT COUNT(*), owner_id FROM pets GROUP BY owner_id HAVING COUNT(owner_id) > 1")
i = []
for row in rows:    
  i.append(row)
print(len(i))

43

## Task 6: How many pets have received treatments?

In [63]:
### Write your code below this comment
rows = cursor.execute("SELECT COUNT(*) FROM pets WHERE treatment_done = 1")
for row in rows:
    print(row)

(36,)

## Task 7: How many pets have received treatment that we know the type of?

In [95]:
### Write your code below this comment
rows = cursor.execute("SELECT COUNT(*) FROM pets WHERE treatment_done = 1 and pet_type IS NOT NULL")
for row in rows:
    print(row)

(16,)

## Task 8: How many pets are there from the city called "east port"

In [96]:
### Write your code below this comment
cursor.execute("PRAGMA foreign_keys = 1")
sql_string = """SELECT COUNT(*), city FROM persons LEFT JOIN pets ON persons.id = pets.owner_id WHERE city = 'east port'"""
cursor.execute(sql_string)
rows = cursor.fetchall()
print(rows)

[(53, 'east port')]

## Task 9: How many pets are there from the city called "east port" and who received a treatment?

In [97]:
### Write your code below this comment
cursor.execute("PRAGMA foreign_keys = 1")
sql_string = """SELECT COUNT(*), city, treatment_done 
                FROM persons 
                LEFT JOIN pets 
                ON persons.id = pets.owner_id 
                WHERE city = 'east port' AND treatment_done = 1"""
cursor.execute(sql_string)
rows = cursor.fetchall()
print(rows)

[(11, 'east port', 1)]