## Task 1: (Connect to the supplied petsDB, and (OPTIONAL) write a function to check if the connection is done)

In [8]:
### Write your code below this comment
import sqlite3
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    print(cursor.fetchall())

[('persons',), ('pets',)]

### With the table names being returned, this shows that the connection was made to the database.
## Task 2:  (What are the different age groups in the persons database)

In [9]:
### Write your code below this comment
rows = cursor.execute("SELECT COUNT(*), age FROM persons GROUP BY age")
for row in rows:
    print(row)

(2, 5)
(1, 6)
(1, 7)
(3, 8)
(1, 9)
(2, 11)
(3, 12)
(1, 13)
(4, 14)
(2, 16)
(2, 17)
(3, 18)
(1, 19)
(3, 22)
(2, 23)
(3, 24)
(2, 25)
(1, 27)
(1, 30)
(3, 31)
(1, 32)
(1, 33)
(2, 34)
(3, 35)
(3, 36)
(1, 37)
(2, 39)
(1, 40)
(1, 42)
(2, 44)
(2, 48)
(1, 49)
(1, 50)
(2, 51)
(2, 52)
(2, 53)
(2, 54)
(1, 58)
(1, 59)
(1, 60)
(1, 61)
(2, 62)
(1, 63)
(2, 65)
(2, 66)
(1, 67)
(3, 68)
(1, 69)
(1, 70)
(4, 71)
(1, 72)
(5, 73)
(3, 74)

## Task 3: Which age group has maximum number of people?

In [29]:
### Write your code below this comment
rows = cursor.execute("SELECT COUNT(*), age FROM persons GROUP BY age ORDER BY COUNT(*) desc")
for row in rows:
    print(row)

(5, 73)
(4, 71)
(4, 14)
(3, 74)
(3, 68)
(3, 36)
(3, 35)
(3, 31)
(3, 24)
(3, 22)
(3, 18)
(3, 12)
(3, 8)
(2, 66)
(2, 65)
(2, 62)
(2, 54)
(2, 53)
(2, 52)
(2, 51)
(2, 48)
(2, 44)
(2, 39)
(2, 34)
(2, 25)
(2, 23)
(2, 17)
(2, 16)
(2, 11)
(2, 5)
(1, 72)
(1, 70)
(1, 69)
(1, 67)
(1, 63)
(1, 61)
(1, 60)
(1, 59)
(1, 58)
(1, 50)
(1, 49)
(1, 42)
(1, 40)
(1, 37)
(1, 33)
(1, 32)
(1, 30)
(1, 27)
(1, 19)
(1, 13)
(1, 9)
(1, 7)
(1, 6)

### First row will contain the max value (5 entries of age 73).

## Task 4: How many people do not have a full name (Last name is blank/null)

In [34]:
### Write your code below this comment
### column names: 'id', 'first_name', 'last_name', 'age', 'city', 'zip_code'

null_values = cursor.execute("SELECT COUNT(*), last_name FROM persons WHERE last_name IS NULL")

for vals in null_values:
    print(vals)

(60, None)

## Task 5: How many people has more than one pet? (Count of owner_id > 1)

In [61]:
### Write your code below this comment
### column names: 'owner_id', 'pet_name', 'pet_type', 'treatment_done'

rows = cursor.execute("SELECT COUNT(*), owner_id FROM pets GROUP BY owner_id HAVING COUNT(owner_id) > 1")
i = 0
for row in rows:    
    i+=1
print(i)

43

## Task 6: How many pets have received treatments?

In [63]:
### Write your code below this comment
rows = cursor.execute("SELECT COUNT(*) FROM pets WHERE treatment_done = 1")
for row in rows:
    print(row)

(36,)

## Task 7: How many pets have received treatment that we know the type of?

In [65]:
### Write your code below this comment
rows = cursor.execute("SELECT COUNT(*) FROM pets WHERE treatment_done = 1 and pet_type IS NOT NULL")
for row in rows:
    print(row)

(20,)

## Task 8: How many pets are there from the city called "east port"

In [67]:
### Write your code below this comment
rows = cursor.execute("SELECT * from persons")
for row in rows:
    print(row)

(1, 'Erica', None, 22, 'south port', 2345678)
(2, 'Jordi', None, 73, 'east port', 123456)
(3, 'Chasity', None, 70, 'new port', 76856785)
(4, 'Gregg', None, 31, 'new port', 76856785)
(5, 'Tony', 'Lindgren', 7, 'west port', 2345678)
(6, 'Cary', None, 73, 'new port', 76856785)
(7, 'Gabe', 'Thompson', 54, 'new port', 9756543)
(8, 'Francisca', None, 14, 'west port', 123456)
(9, 'Katelyn', 'Torphy', 49, 'east port', 9756543)
(10, 'Raleigh', None, 68, 'new port', 2345678)
(11, 'Maria', None, 42, 'west port', 123456)
(12, 'Mariane', None, 62, 'south port', 9756543)
(13, 'Mona', None, 44, 'south port', 76856785)
(14, 'Kayla', None, 36, 'south port', 2345678)
(15, 'Karlie', None, 35, 'west port', 123456)
(16, 'Morris', None, 71, 'west port', 76856785)
(17, 'Sandy', None, 23, 'east port', 2345678)
(18, 'Hector', None, 63, 'east port', 9756543)
(19, 'Hiram', None, 52, 'west port', 2345678)
(20, 'Tressa', None, 59, 'new port', 123456)
(21, 'Berry', None, 22, 'south port', 2345678)
(22, 'Pearline', None, 73, 'new port', 9756543)
(23, 'Maynard', None, 25, 'east port', 123456)
(24, 'Dorian', None, 40, 'east port', 123456)
(25, 'Mylene', None, 5, 'east port', 76856785)
(26, 'Lafayette', None, 34, 'new port', 2345678)
(27, 'Friedrich', 'Wunsch', 48, 'east port', 9756543)
(28, 'Domenica', 'Lakin', 13, 'west port', 76856785)
(29, 'Tara', None, 39, 'west port', 123456)
(30, 'Destiny', None, 18, 'south port', 2345678)
(31, 'Lesly', None, 31, 'west port', 123456)
(32, 'Perry', None, 19, 'south port', 76856785)
(33, 'Keyon', 'Upton', 51, 'south port', 123456)
(34, 'Jacquelyn', 'Bradtke', 54, 'south port', 123456)
(35, 'Maritza', None, 73, 'east port', 9756543)
(36, 'Ivory', 'Sawayn', 8, 'south port', 76856785)
(37, 'Grant', None, 61, 'east port', 76856785)
(38, 'Salma', 'Terry', 71, 'west port', 123456)
(39, 'Laury', None, 17, 'east port', 9756543)
(40, 'Name', None, 52, 'east port', 9756543)
(41, 'Estefania', None, 32, 'new port', 76856785)
(42, 'Destiney', None, 65, 'west port', 2345678)
(43, 'Jaquelin', None, 73, 'west port', 9756543)
(44, 'Brenda', 'Murray', 62, 'south port', 2345678)
(45, 'Alfonzo', None, 16, 'east port', 2345678)
(46, 'Lisandro', None, 11, 'new port', 76856785)
(47, 'Lurline', 'Becker', 24, 'west port', 76856785)
(48, 'Timmothy', 'Tillman', 12, 'new port', 76856785)
(49, 'Priscilla', None, 65, 'east port', 76856785)
(50, 'Elenora', None, 11, 'new port', 76856785)
(51, 'Wendell', 'Sauer', 39, 'south port', 76856785)
(52, 'Rudolph', None, 14, 'east port', 76856785)
(53, 'Gabriella', 'Kertzmann', 30, 'south port', 76856785)
(54, 'Citlalli', 'Pollich', 18, 'west port', 2345678)
(55, 'Dax', 'Romaguera', 23, 'west port', 123456)
(56, 'Ona', None, 35, 'east port', 9756543)
(57, 'Rebeca', None, 50, 'new port', 76856785)
(58, 'Lou', 'Bradtke', 71, 'south port', 2345678)
(59, 'Sigurd', None, 12, 'west port', 76856785)
(60, 'Nicklaus', 'Purdy', 72, 'new port', 2345678)
(61, 'Destiney', 'Sauer', 24, 'west port', 2345678)
(62, 'Cassidy', 'Crona', 18, 'east port', 123456)
(63, 'Alice', None, 8, 'west port', 76856785)
(64, 'Dane', None, 24, 'west port', 9756543)
(65, 'Judge', None, 17, 'south port', 76856785)
(66, 'Allene', None, 9, 'new port', 9756543)
(67, 'Jalen', None, 33, 'new port', 2345678)
(68, 'Aniyah', 'Grant', 27, 'new port', 9756543)
(69, 'Ashton', 'Schaden', 25, 'west port', 2345678)
(70, 'Myron', None, 36, 'new port', 9756543)
(71, 'Presley', 'Gleason', 58, 'new port', 9756543)
(72, 'Ephraim', 'Kihn', 67, 'south port', 123456)
(73, 'Travon', None, 16, 'south port', 2345678)
(74, 'Shayna', None, 60, 'new port', 2345678)
(75, 'Myah', None, 14, 'east port', 2345678)
(76, 'Sammy', 'Franecki', 53, 'south port', 76856785)
(77, 'Ebba', 'Kihn', 34, 'west port', 2345678)
(78, 'Leilani', 'Gislason', 53, 'south port', 123456)
(79, 'Isabel', 'Beier', 74, 'west port', 2345678)
(80, 'Jo', 'DuBuque', 68, 'west port', 76856785)
(81, 'Angel', 'Mraz', 37, 'west port', 123456)
(82, 'Letha', None, 44, 'new port', 9756543)
(83, 'Lily', 'Hegmann', 12, 'east port', 123456)
(84, 'Felton', None, 74, 'east port', 2345678)
(85, 'London', None, 66, 'east port', 9756543)
(86, 'Koby', None, 31, 'west port', 9756543)
(87, 'Golden', None, 35, 'east port', 76856785)
(88, 'Elfrieda', 'Nikolaus', 36, 'west port', 2345678)
(89, 'Anissa', None, 8, 'south port', 76856785)
(90, 'Mathew', 'Luettgen', 71, 'east port', 2345678)
(91, 'Sid', None, 22, 'west port', 123456)
(92, 'Micheal', 'Schuppe', 6, 'west port', 9756543)
(93, 'Joanie', 'Cassin', 68, 'new port', 76856785)
(94, 'Jerad', 'Pfeffer', 74, 'west port', 123456)
(95, 'Benjamin', 'Lowe', 51, 'south port', 9756543)
(96, 'Ernesto', None, 69, 'east port', 9756543)
(97, 'Josianne', None, 14, 'west port', 76856785)
(98, 'Hilma', 'Waelchi', 48, 'east port', 9756543)
(99, 'Otilia', 'Gleason', 66, 'new port', 9756543)
(100, 'Adrian', 'Schinner', 5, 'south port', 76856785)

## Task 9: How many pets are there from the city called "east port" and who received a treatment?

In [ ]:
### Write your code below this comment