# Ramsey King
# DSC 540 - Data Preparation
# Weeks 5 & 6
# July 16, 2021
## For this assignment you need to complete 8 of the following exercises against this data.  You must select at least 2 methods from Chapters 7, 8, 10 & 11.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

candy_2016_df = pd.read_excel('BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx')
candy_2016_df.shape

(1259, 123)

### The 2 method from Chapter 7 that I will chose are filtering out missing data and binning. This will be done by filtering out the rows where the column 'How old are you?' is non-numeric.  From there, the ages will be binned.

In [2]:
# rename the 'How old are you?' column to 'age'
candy_2016_df = candy_2016_df.rename(columns={candy_2016_df.columns[3]:'age'})

# remove rows where 'age' column does not contain a number
candy_2016_df = candy_2016_df[pd.to_numeric(candy_2016_df['age'], errors='coerce').notnull()]
candy_2016_df.shape

(1191, 123)

In [3]:
# bin 'age' column based on age ranges (<17, 18-25, 26-34, 35-44, 45-54, 55-64, >65)
bins = [0,17,24,34,44,54,64,140]
cats = pd.cut(candy_2016_df['age'], bins)
pd.value_counts(cats)
# candy_2016_df.plot.bar(x=cats,y=pd.value_counts(cats))

(34, 44]     382
(24, 34]     317
(44, 54]     292
(54, 64]     121
(17, 24]      37
(0, 17]       21
(64, 140]     19
Name: age, dtype: int64

### The 2 methods that I will chose from Chapter 8 are combining/merging datasets and pivoting data.  This will be achieved as follows:
1. Create a subset of the 2016 and 2017 candy datasets based on all participants who gave a response in the '[100 Grand Bar]' column
2. Merge these subset datasets together (adding the rows of the 2016 dataset to the 2017 dataset).
3. Creating a pivot table based on the 100 Grand Bar response type by gender

In [4]:
# Load the 2016 and 2017 datasets (since I've re-written over the 2016 dataset above)

candy_2016_df = pd.read_excel('BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.xlsx')
candy_2017_df = pd.read_excel('candyhierarchy2017.xlsx')

print("2016 dimensions:", candy_2016_df.shape, "\n2017 dimensions:", candy_2017_df.shape)

2016 dimensions: (1259, 123)
2017 dimensions: (2460, 120)

In [5]:
# rename the '100 Grand Bar' column '100_grand_bar', 'Your gender:' column 'gender', and 'How old are you?' 'age'
candy_2016_df = candy_2016_df.rename(columns={candy_2016_df.columns[2]:'gender',
                                              candy_2016_df.columns[3]:'age',
                                              candy_2016_df.columns[6]:'hundred_grand_bar'})

# check for empty values in the hundred_grand_bar column in the 2016 dataset.
miss = candy_2016_df['hundred_grand_bar'].isnull().sum()
if miss>0:
    print("hundred_grand_bar has {} missing value(s)".format(miss))
else:
    print("hundred_grand_bar has no missing values.")

hundred_grand_bar has 78 missing value(s)

In [6]:
# remove rows where the 100 Grand Bar value is null
candy_2016_df = candy_2016_df[candy_2016_df['hundred_grand_bar'].isnull() == False]
candy_2016_df.shape

(1181, 123)

In [7]:
# rename the '100 Grand Bar' column '100_grand_bar', 'Your gender:' column 'gender', and 'How old are you?' 'age'
candy_2017_df = candy_2017_df.rename(columns={candy_2017_df.columns[2]:'gender',
                                              candy_2017_df.columns[3]:'age',
                                              candy_2017_df.columns[6]:'hundred_grand_bar'})

# check for empty values in the hundred_grand_bar column in the 2016 dataset.
miss = candy_2017_df['hundred_grand_bar'].isnull().sum()
if miss>0:
    print("hundred_grand_bar has {} missing value(s)".format(miss))
else:
    print("hundred_grand_bar has no missing values.")

hundred_grand_bar has 747 missing value(s)

In [8]:
# remove rows where the 100 Grand Bar value is null
candy_2017_df = candy_2017_df[candy_2017_df['hundred_grand_bar'].isnull() == False]
candy_2017_df.shape

(1713, 120)

In [9]:
'''
merge the 2016 and 2017 candy datasets together by adding rows.  Before we do this, we will grab only the gender, age,
and hundred_grand_bar columns and put them into a new dataframe
'''
candy_2016_subset = candy_2016_df[['gender', 'age', 'hundred_grand_bar']]
candy_2017_subset = candy_2017_df[['gender', 'age', 'hundred_grand_bar']]

combined_candy_subset = candy_2016_subset.append(candy_2017_subset)
combined_candy_subset

      gender age hundred_grand_bar
0       Male  22               JOY
1       Male  45               MEH
2     Female  48               JOY
3       Male  57               JOY
4       Male  42               MEH
...      ...  ..               ...
2454  Female  26               JOY
2455    Male  24               JOY
2456  Female  33               MEH
2457  Female  26               MEH
2459  Female  66           DESPAIR

[2894 rows x 3 columns]

In [10]:
'''
Now we are ready to pivot the data based on gender.
'''
# drop the rows with missing values for age
combined_candy_subset = combined_candy_subset[combined_candy_subset['age'].isnull() == False]
combined_candy_subset = combined_candy_subset[pd.to_numeric(combined_candy_subset['age'], errors='coerce').notnull()]

# convert age column to numeric
combined_candy_subset['age'] = pd.to_numeric(combined_candy_subset['age'])
combined_candy_subset.dtypes
combined_candy_subset.pivot_table(values='age', index=['gender','hundred_grand_bar'],aggfunc=np.mean)

                                               age
gender             hundred_grand_bar
Female             DESPAIR            3.726923e+01
                   JOY                4.143659e+01
                   MEH                3.930000e+01
I'd rather not say DESPAIR            3.433333e+01
                   JOY                3.935294e+01
                   MEH                8.688462e+01
Male               DESPAIR            4.137333e+01
                   JOY                4.360352e+01
                   MEH                1.329787e+15
Other              DESPAIR            3.566667e+01
                   JOY                3.537500e+01
                   MEH                4.755556e+01

### The 2 methods that I will chose from Chapter 10 are Grouping with Dicts and <ENTER HERE> This will be achieved as follows:
1. Grouping with Dicts -- create a mapping of different types of candy according to 'genre' i.e. chocolate, hard, soft, etc.
2. List the top 5 candies with the most 'JOY' responses.

In [11]:
'''
1. Grouping with Dicts -- create a mapping of different types of candy according to 'genre' i.e. chocolate, hard, soft, etc.
'''
candy_2015_df = pd.read_excel('CANDY-HIERARCHY-2015-SURVEY-Responses.xlsx')
# Create a mapping dictionary of almost all the columns included in the survey
mapping = {' [Butterfinger]': 'Candy Bar',
           ' [100 Grand Bar]': 'Candy Bar',
           ' [Anonymous brown globs that come in black and orange wrappers]': 'Unknown',
           ' [Any full-sized candy bar]': 'Candy Bar',
           ' [Black Jacks]': 'Chewy',
           ' [Bonkers]': 'Chewy',
           ' [Bottle Caps]': 'Hard',
           ' [Box’o’ Raisins]': 'Chocolate',
           ' [Brach products (not including candy corn)]': 'Unknown',
           ' [Bubble Gum]': 'Chewing Gum',
           ' [Cadbury Creme Eggs]': 'Chocolate',
           ' [Candy Corn]': 'Unknown',
           ' [Chiclets]': 'Chewing Gum',
           ' [Caramellos]': 'Caramels',
           ' [Snickers]': 'Candy Bar',
           ' [Dark Chocolate Hershey]': 'Candy Bar',
           ' [Dots]': 'Chewy',
           ' [Fuzzy Peaches]': 'N/A',
           ' [Generic Brand Acetaminophen]': 'N/A',
           ' [Glow sticks]': 'N/A',
           ' [Broken glow stick]': 'N/A',
           ' [Goo Goo Clusters]': 'Candy Bar',
           ' [Good N\' Plenty]': 'Licorice',
           ' [Gum from baseball cards]': 'Chewing Gum',
           ' [Gummy Bears straight up]': 'Gummies',
           ' [Creepy Religious comics/Chick Tracts]': 'N/A',
           ' [Healthy Fruit]': 'N/A',
           ' [Heath Bar]': 'Candy Bar',
           ' [Hershey’s Kissables]': 'Chocolate',
           ' [Hershey’s Milk Chocolate]': 'Chocolate',
           ' [Hugs (actual physical hugs)]': 'N/A',
           ' [Jolly Rancher (bad flavor)]': 'Hard',
           ' [Jolly Ranchers (good flavor)]': 'Hard',
           ' [Kale smoothie]': 'N/A',
           ' [Kinder Happy Hippo]': 'Chocolate',
           ' [Kit Kat]': 'Chocolate',
           ' [Hard Candy]': 'Hard',
           ' [Lapel Pins]': 'N/A',
           ' [LemonHeads]': 'Hard',
           ' [Licorice]': 'Licorice',
           ' [Licorice (not black)]': 'Licorice',
           ' [Lindt Truffle]': 'Chocolate',
           ' [Lollipops]': 'Lollipops and Sours',
           ' [Mars]': 'Candy Bar',
           ' [Mary Janes]': 'Chewy',
           ' [Maynards]': 'Lollipops and Sours',
           ' [Milk Duds]': 'Chocolate',
           ' [LaffyTaffy]': 'Chewy',
           ' [Minibags of chips]': 'N/A',
           ' [JoyJoy (Mit Iodine)]': 'N/A',
           ' [Reggie Jackson Bar]': 'Candy Bar',
           ' [Pixy Stix]': 'Unknown',
           ' [Nerds]': 'Hard',
           ' [Nestle Crunch]': 'Chocolate',
           ' [Now\'n\'Laters]': 'Chewy',
           ' [Pencils]': 'N/A',
           ' [Milky Way]': 'Candy Bar',
           ' [Reese’s Peanut Butter Cups]': 'Chocolate',
           ' [Tolberone something or other]': 'N/A',
           ' [Runts]': 'Hard',
           ' [Junior Mints]': 'Chocolate',
           ' [Senior Mints]': 'N/A',
           ' [Mint Kisses]': 'Chocolate',
           ' [Mint Juleps]': 'Chewy',
           ' [Mint Leaves]': 'N/A',
           ' [Peanut M&M’s]': 'Chocolate',
           ' [Regular M&Ms]': 'Chocolate',
           ' [Mint M&Ms]': 'Chocolate',
           ' [Ribbon candy]': 'N/A',
           ' [Rolos]': 'Chocolate',
           ' [Skittles]': 'Hard',
           ' [Smarties (American)]': 'Hard',
           ' [Smarties (Commonwealth)]': 'Hard',
           ' [Chick-o-Sticks (we don’t know what that is)]': 'N/A',
           ' [Spotted Dick]': 'N/A',
           ' [Starburst]': 'Chewy',
           ' [Swedish Fish]': 'Chewy',
           ' [Sweetums]': 'Lollipops and Sours',
           ' [Those odd marshmallow circus peanut things]': 'N/A',
           ' [Three Musketeers]': 'Candy Bar',
           ' [Peterson Brand Sidewalk Chalk]': 'N/A',
           ' [Peanut Butter Bars]': 'Candy Bar',
           ' [Peanut Butter Jars]': 'N/A',
           ' [Trail Mix]': 'N/A',
           ' [Twix]': 'Candy Bar',
           ' [Vicodin]': 'N/A',
           ' [White Bread]': 'N/A',
           ' [Whole Wheat anything]': 'N/A',
           ' [York Peppermint Patties]': 'Chocolate',
           ' [Sea-salt flavored stuff, probably chocolate, since this is the "it" flavor of the year]': 'Chocolate',
           ' [Necco Wafers]': 'Unknown'}
# Create a subset to include only those columns that are in the mapping variable
candy_2015_subset = candy_2015_df[mapping.keys()]
by_column = candy_2015_subset.groupby(mapping, axis=1)
by_column.size()

Candy Bar              13
Caramels                1
Chewing Gum             3
Chewy                   9
Chocolate              18
Gummies                 1
Hard                   10
Licorice                3
Lollipops and Sours     3
N/A                    25
Unknown                 5
dtype: int64

In [12]:
'''
2.  Cross tab summarizing data by those trick or treating themselves and their responses to the Butterfinger question.
'''
pd.crosstab(candy_2015_df['Are you going actually going trick or treating yourself?'], candy_2015_df[' [Butterfinger]'], margins=True)

 [Butterfinger]                                     DESPAIR   JOY   All
Are you going actually going trick or treating ...
No                                                      990  3763  4753
Yes                                                     128   366   494
All                                                    1118  4129  5247

### The 2 methods that I will chose from Chapter 11 are convert between string date and time and period frequency conversions:
1. Convert between string date and time.
2. Frequency conversions.

In [21]:
'''
1.  Convert between string and time.
Staying with the 2015 candy data frame, we will create a new column 'date_formatted' which will convert the Timestamp
column to a string with the Year-Month-Day format.
'''
import datetime as dt
candy_2015_df.dtypes
candy_2015_df['date_formatted'] = candy_2015_df['Timestamp'].dt.strftime('%Y-%m-%d')
candy_2015_df['date_formatted'].iloc[0]

'2015-10-23'

In [30]:
'''
2.  Frequency conversions.  We will convert the downsample the time from minutes to hours
'''
# Shows the count of responses within the hourly timeframe.
candy_2015_df.resample('60T').count()

How old are you?                                                                                 5431
Are you going actually going trick or treating yourself?                                         5630
 [Butterfinger]                                                                                  5247
 [100 Grand Bar]                                                                                 4974
 [Anonymous brown globs that come in black and orange wrappers]                                  5332
                                                                                                 ...
Please estimate the degrees of separation you have from the following folks [JJ Abrams]             0
Please estimate the degrees of separation you have from the following folks [Hillary Clinton]       0
Please estimate the degrees of separation you have from the following folks [Donald Trump]          0
Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles]       0
date_formatted                                                                                   5630
Length: 124, dtype: int64

,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],[Box’o’ Raisins],...,"Which day do you prefer, Friday or Sunday?",Please estimate the degrees of separation you have from the following folks [Bruce Lee],Please estimate the degrees of separation you have from the following folks [JK Rowling],Please estimate the degrees of separation you have from the following folks [Malala Yousafzai],Please estimate the degrees of separation you have from the following folks [Thom Yorke],Please estimate the degrees of separation you have from the following folks [JJ Abrams],Please estimate the degrees of separation you have from the following folks [Hillary Clinton],Please estimate the degrees of separation you have from the following folks [Donald Trump],Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles],date_formatted
Timestamp,,,,,,,,,,,,,,,,,,,,,
2015-10-23 08:00:00,23,23,22,21,23,21,19,18,20,20,...,0,0,0,0,0,0,0,0,0,23
2015-10-23 09:00:00,106,114,110,102,109,111,97,88,101,106,...,0,0,0,0,0,0,0,0,0,114
2015-10-23 10:00:00,124,128,111,104,119,123,100,99,107,113,...,0,0,0,0,0,0,0,0,0,128
2015-10-23 11:00:00,102,109,96,90,103,101,82,83,91,102,...,0,0,0,0,0,0,0,0,0,109
2015-10-23 12:00:00,81,87,83,80,84,85,76,71,82,81,...,0,0,0,0,0,0,0,0,0,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-10-31 02:00:00,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1
2015-10-31 03:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-10-31 04:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2015-10-31 05:00:00,4,4,3,3,3,3,3,3,3,3,...,3,0,0,0,0,0,0,0,0,4
2015-10-31 06:00:00,3,3,2,3,3,3,2,2,3,2,...,3,0,0,0,0,0,0,0,0,3